{% extends "base.html" %}

{% block main %}

<div class="container">
    <div class="row">
        <div style="text-align: center;" class="col-lg-12">
            <h1 class="modal-header">Soundpad Downloader</h1>
        </div>
    </div>

    <div class="row">
        <p>
            This is a simple Soundpad Downloader. It is not affiliated with Soundpad in any way. It is just a simple
            tool to download sounds from YouTube to a folder which can be loaded into Soundpad.
        </p>
    </div>
</div>

{% endblock %}